@import '../../styles/vars.scss';

.user-container {
  padding: 20px;

  .title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 0px 0px 20px 0;
  }

  .form-user {
    background: grey;
    border: 1px solid $title;
    border-radius: 10px;
    padding: 20px;
  }
  
  .selects {
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
  }

  .select-wrap {
    display: flex;
    flex-direction: column;
  }

  .select {
    margin-top: 3px;
    background: rgba(59, 54, 54, 0.436);
    border-radius: 6px;
    padding: 5px 10px 5px 5px;
  }
}