@import '../../styles/vars.scss';

.navigation {
  height: 70px;
  background: rgb(76, 76, 76);
  padding: 25px 25px 0 25px;
  position: fixed;
  width: 100%;

  .nav-wrap {
    justify-content: space-between;
  display: flex;
  }

  .nav-links-container {
    display: flex;
    gap: 30px;
    margin-bottom: 5px;
  }

  .nav-link {
    color: white;
    cursor: pointer;
        
    &:hover {
      color: $title;
    }
  }

  .name {
    color: $title;
  }
}