@import '../../styles/vars.scss';

.billing-container {
  padding: 90px 20px 20px 20px;

  .title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 0px 0px 20px 0;
  }

  .categories-block {
    background: grey;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid $title;
  }

  .package-block {
    gap: 5px;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid white;
    border-radius: 6px;
    background: rgba(59, 54, 54, 0.436)
  }
  
  .category {
    padding: 3px;
    display: flex;
    justify-content: space-between;
    border: 1px solid white;
    border-radius: 6px;
    background: rgba(59, 54, 54, 0.436)
  }

  .no-items {
    padding: 3px;
    display: flex;
    border: 1px solid white;
    border-radius: 6px;
    background: rgba(59, 54, 54, 0.436)
  }

  .no-link {
    font-size: 17px;
    color: $title;
    transition: 0.3s;

    &:hover {
      color: white
    }
  }

  .total {
    text-align: end;
    font-size: 20px;
    font-weight: bold;
  }
}