@import '../../../styles/vars.scss';

.user-details-container {
  width: 100%;
  padding: 100px 20px 20px 20px;
  ;

  .link {
    color: $title;

    &:hover {
      color: white;
    }
  }

  .title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 0px 0px 20px 0;
  }

  .user-details-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
  }

  .user-checks-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
    height: 66px;
    overflow: hidden;
    transition: 0.4s;
  }

  .user-checks-list.active {
    height: 640px;
    overflow: auto;
  }

  .user-details-item {
    background: rgb(83, 81, 81);
    display: flex;
    border: 1px solid gray;
    border-radius: 6px;
    padding: 5px;
    justify-content: space-between;
  }

  .item {
    color: $title;
    transition: 0.3s;
  }

  .item-link {
    &:hover {
      color: red;
    }
  }

  .toggle {
    text-align: center;
  }
}